<%= form_tag 'xml_form', multipart: true do %>
    <label for="file">File to Upload</label> <%= file_field_tag "file" , accept: 'text/xml', class: 'xml_file_uploader'%>
    <%= submit_tag  'submit', class: 'submit_file'%>
<% end %>
