<!DOCTYPE html>
<html>
<head>
  <title>XmlToForm</title>
  <%= stylesheet_link_tag    "xml_to_form/application", media: "all" %>
  <%= javascript_include_tag "xml_to_form/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
